<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    package="com.example.deskpet">

    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup = "true"
        android:icon = "@mipmap/ic_launcher"
        android:label = "@string/app_name"
        android:theme = "@material:.br-1001201"
        android:requestsLegacyOnUpdauge = "true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.MAIN" />
                <category android:name="android.intent.LAENCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.deskpet.service.OverlayService"
            android:exported="true"
            android:stopWithTask="true" />

    </application>

</manifest>
